@model NTierUoWExampleApp.Core.BindingModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_TemplateEmpty.cshtml";
}

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_TemplateEmpty.cshtml";
}

@section styles{
    <link href="~/Content/app/createManageUser.css" rel="stylesheet" />
}


@section breadcrumbs{
    <section class="content-header">
        <h1 class="page-header">
            Reset password
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                Reset password
            </li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Reset your password</h3>
            </div>


            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                <div class="box-body">


                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)


                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(x => x.Email, new { @class = "col-sm-2 control-label" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control"})
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3">
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3">
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>


                </div>
                <div class="box-footer">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
            }

        </div>
    </div>
</div>

